@font-face {
  font-family: "Trip Sans";
  src: url("../fonts/TripSans-Regular.eot");
  src: url("../fonts/TripSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TripSans-Regular.woff2") format("woff2"),
    url("../fonts/TripSans-Regular.woff") format("woff"),
    url("../fonts/TripSans-Regular.ttf") format("truetype"),
    url("../fonts/TripSans-Regular.svg#TripSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
