/* GENERAUX */
.d-flex {
  display: flex;
}
.justBetween {
  justify-content: space-between;
}
h2 {
  line-height: 32px;
  font-size: 32px;
}
h3 {
  line-height: 25px;
  font-size: 25px;
}
body {
  font-family: "Trip Sans";
  font-size: 16px;
  line-height: 20px;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
/* left */
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 30px;
}
.logo img {
  width: 195px;
}
.search {
  border: 1px solid rgb(184, 182, 182);
  border-radius: 5px;
  width: 350px;
  height: 40px;
  /* line-height: 40px; */
}
.search input {
  border: none;
}
.search button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.search button i {
  line-height: 40px;
  padding-left: 15px;
  font-size: 18px;
}

/* right */
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 12px;
}
.link button:hover {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}
.link a {
  text-decoration: none;
  text-transform: none;
  color: black;
  font-size: 16px;
}

.publish i,
.alertes i,
.voyages i {
  margin-right: 5px;
  font-size: 20px;
}
.i {
  margin-right: 5px;

  width: 20px;
}
.alertes .publish,
.voyages {
  margin: 0 10px;
}

.connexion {
  color: white;
  background: black;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 10px 16px;
  margin-left: 10px;
}
.connexion:hover {
  background: #262626;
}
.connexion a {
  color: white;
  text-decoration: none;
  text-transform: none;
}
/* MAIN */
main {
  margin-top: 50px;
}
/* title Explorez Paris ! */
.title {
  color: #ff5e5d;
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 30px;
}
.title span {
  color: black;
}
/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
}
.navLink {
  line-height: 48px;
}
.borderLink a {
  text-decoration: none;
  color: black;
  width: 100%;
  min-height: 48px;
  padding: 11px 13px 11px 14px;
}
.borderLink a:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
}

.borderLink:hover svg {
  fill: white;
}

.borderLink {
  border: 1px solid black;
  border-radius: 12px;
  min-width: 140px;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 10px;
}
.borderLink:last-child {
  margin-right: 0;
}
.borderLink .dropdown {
  position: relative;
  top: 20px;
}

.styleNav {
  font-weight: 400;
  line-height: 20px;
  margin-top: 3px;
}
.svg {
  font-size: 24px;
  margin-left: 10px;
  width: 30px;
  align-items: flex-start;
  display: flex;
}

/* PICTURES */
.pictures {
  display: flex;
  max-height: 430px;
  border-radius: 20px;
}
.box1 img {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.box2 {
  display: flex;
  flex-direction: column;
}
.box2 img {
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pict2,
.pict3 {
  width: 100%;
  height: 50%;
}
.pict2 img {
  border-radius: 0 20px 0px 0;
  margin: 0 0 2px 2px;
}
.pict3 img {
  margin: 2px 0 0 2px;
  border-radius: 0 0px 20px 0;
}
/* section */
.section {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.section1 {
  width: 50%;
}
.section1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 0 8px 0 0;
  margin: 0 0 24px;
  line-height: 24px;
  color: #535353;
}
.section2 {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.section1 h2,
.section2 h2 {
  font-weight: bold;
  margin-bottom: 25px;
}

.rose {
  background: hsl(0, 100%, 68%);
  border-radius: 20px 20px 0 0;
  padding: 30px;
}

.rose button {
  color: white;
  background: black;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 16px;
  margin-top: 25px;
}
.rose button:hover {
  background: #262626;
}
.rose button a {
  color: white;
  text-decoration: none;
  text-transform: none;
}
.section2 .card img {
  border-radius: 0 0 20px 20px;
  width: 100%;
  position: relative;
  top: -80px;
  z-index: -1;
}
/* IMMANQUABLE */
.layout {
  text-align: center;
  margin-bottom: 35px;
}
.layout h2::before {
  content: "";
  border-bottom: 1px solid black;
  z-index: -1;
  display: block;
  width: 100%;
  position: relative;
  left: 0;
  top: 20px;
}
.layout h2 {
  margin: 0 10px;
  background: white;
  display: inline;
}
.layout span {
  padding: 0 10px;
}
/* carroussel immanquable */
.immanquable {
  display: flex;
}
.carroussel {
  display: flex;
}
.carroussel .card1:not(:last-child) {
  margin-right: 5px;
}
.divertir h3 {
  margin-bottom: 16px;
}
.divertir p {
  font-family: "Times New Roman", Times, serif;
}
