/* GENERAUX */
:root {
  --jaune: #faf1ed;
  --pink: hsl(0, 100%, 68%);
  --black: #262626;
  --greyJaune: rgb(184, 182, 182);
  --noirClair: #535353;
  --green: #00aa6c;
  --grisClair: #e0e0e0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.d-flex {
  display: flex;
}
.justBetween {
  justify-content: space-between;
}
h1 {
  font-size: 5vw;
  line-height: 30px;
  font-weight: bold;
}
h2 {
  line-height: 38px;
  letter-spacing: 0.6px;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  line-height: 40px;
  font-size: 32px;
}
h4 {
  line-height: 21.6px;
  font-size: 18px;
}
.hidden {
  display: none;
}
.display {
  display: flex;
}
.margin80 {
  margin: 80px 0;
}
.mb80 {
  margin-bottom: 80px;
}
body {
  font-family: "Trip Sans Med";
  font-size: 16px;
  line-height: 20px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
/* left */
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left img {
  width: 195px;
  margin-right: 30px;
}
.search {
  border: 1px solid var(--greyJaune);
  border-radius: 5px;
  max-width: 350px;
  height: 40px;
  /* line-height: 40px; */
}
.search input {
  border: none;
}
.search button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
.search button i {
  line-height: 40px;
  padding-left: 15px;
  font-size: 18px;
}

/* right */
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 12px;
}
.link button:hover {
  border: 2px solid var(--black);
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}
.link a {
  text-decoration: none;
  text-transform: none;
  color: var(--black);
  font-size: 16px;
}

.publish i,
.alertes i,
.voyages i {
  margin-right: 5px;
  font-size: 20px;
}
.i {
  margin-right: 5px;

  width: 20px;
}
.alertes .publish,
.voyages {
  margin: 0 10px;
}

.connexion {
  color: white;
  background: var(--black);
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 10px 16px;
  margin-left: 10px;
}
.connexion:hover {
  background: var(--black);
}
.connexion a {
  color: white;
  text-decoration: none;
  text-transform: none;
}
/* MAIN */
main {
  margin-top: 50px;
}
/* title Explorez Paris ! */
h1 {
  color: var(--pink);
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 30px;
}
h1 span {
  color: var(--black);
}
/* NAV */
.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.navigation .hidden-xl {
  display: none;
}
.navigation div {
  border: 1px solid var(--black);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: calc(100% / 8 - (30px / 6));
}
.navigation a {
  text-decoration: none;
  color: var(--black);
}
.navigation div:hover a {
  color: white;
}
.navigation div:hover {
  background-color: var(--black);
  color: white;
  cursor: pointer;
}

.navigation div:not(:last-child) {
  margin-right: 20px;
}
.navigation div:hover svg {
  fill: white;
}
/* line links */
.links {
  height: 50px;
  margin: 30px 0;
  font-family: "Trip Sans Reg";
  font-size: 12px;
}
.links > div {
  display: flex;
}
.links > div:first-child > span:nth-child(even) {
  margin: 0 6px;
}
.links i {
  margin-left: 6px;
}
.links > div:first-child > span:nth-child(odd):hover,
.links > div:first-child > div:hover {
  text-decoration: underline;
  cursor: pointer;
  color: grey;
}
.links > div:first-child > div i:hover {
  text-decoration: none;
  color: var(--black);
}
.links {
  display: flex;
  justify-content: space-between;
}
/* PICTURES */
.pictures {
  display: flex;
  height: 430px;
}
.box1 {
  height: 100%;
  flex: 1;
  margin-right: 2px;
}
.box1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.box2 {
  height: 100%;
  width: 480px;
}
.box2 img {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  height: calc(50% - 1.5px);
}
.box2 img:first-child {
  border-radius: 0 20px 0 0;
}
.box2 img:last-child {
  border-radius: 0 0 20px 0;
}

/* section */
.description {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  /* height: 420px; */
}
.description .col-1 {
  width: 50%;
  height: 100%;
}
.description .col-1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;

  line-height: 24px;
  color: var(--noirClair);
  margin-top: 25px;
}
.description .col-2 {
  width: calc(50% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 120px;
}
.description > div.col-2 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description .col-2 p {
  margin-bottom: 10px 0 20px 0;
}

.description .col-2 div:first-child {
  background: var(--pink);
  border-radius: 20px 20px 0 0;
  padding: 20px;
  height: 234px;
}

.description button {
  color: white;
  background: var(--black);
  font-size: 16px;
  border-radius: 20px;
  border: none;
  padding: 16px 12px;
  font-family: inherit;
  max-width: 160px;
}
.description button:hover {
  background: var(--black);
}
.description button a {
  color: white;
  text-decoration: none;
  text-transform: none;
}
.description .col-2 div:last-child {
  background: url(../img/card.png) no-repeat center;
  background-size: cover;
  height: 190px;
  border-radius: 0 0 20px 20px;
}
/* IMMANQUABLE + CONSEILS DE VOYAGE */
.layout {
  text-align: center;
  /* margin-bottom: 35px; */
}
.layout::before {
  content: "";
  border-bottom: 1px solid var(--black);
  z-index: -1;
  display: block;
  width: 100%;
  position: relative;
  left: 0;
  top: 20px;
}
.layout h2 {
  padding: 0 10px;
  background: white;
  display: inline;
}
/* conseils de voyages */
.section-conseil > div {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.afficher {
  text-align: end;
  margin-bottom: 20px;
  font-family: "Trip Sans Med";
  font-size: 14px;
  line-height: 16.8px;
  color: var(--noirClair);
}
.section-conseil img {
  width: 88px;
  height: 88px;
}
.section-conseil > div > div {
  border: 2px solid var(--grisClair);
  flex: 1;
  padding: 5px 20px;
  border-radius: 20px;
  display: flex;
}
.section-conseil > div > div:not(:last-child) {
  margin-right: 16px;
}

.section-conseil a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var(--black);
  font-size: 20px;
  line-height: 28px;
}
.section-conseil a:hover,
.section-conseil > div > div:hover {
  text-decoration: underline;
}
.section-conseil > div > div:hover {
  border: 2px solid var(--black);
  border-radius: 20px;
}
/* carroussel immanquable */
.immanquable {
  display: flex;
  margin: 50px 0;
}
.carroussel {
  display: flex;
  /* position: relative; */
  width: calc(100% / 4 * 3);
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 100%;
}
.carroussel::-webkit-scrollbar {
  display: none;
}
.carroussel .card:not(:last-child) {
  margin-right: 20px;
}
.carroussel .card {
  height: 100%;
  width: calc(100% / 3 - (40px / 3));
  flex-shrink: 0;
  position: relative;
}
.divertir {
  width: calc(100% / 4);
  height: 100%;
  padding-right: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 21.6px;
  font-size: 18px;
  color: var(--noirClair);
}
.divertir h3 {
  margin-bottom: 16px;
}

.carroussel button {
  background: white;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* info card carroussel */
.info h4 {
  margin-bottom: 5px;
  line-height: 18px;
  line-height: 21.6px;
}
.info h4:hover {
  color: #545454;
}
.info p,
.info span {
  font-family: "Trip Sans Reg";
  font-size: 14px;
  text-align: justify;
  line-height: 15px;
  line-height: 16.8px;
  color: var(--noirClair);
}

.circle {
  display: flex;
  align-items: baseline;
}
.circle div {
  background: var(--green);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 3px;
}

.circle span {
  margin-left: 6px;
}
/* fleche carroussel */
/* GUIDE DU VOYAGEUR */
.guide {
  display: flex;
  justify-content: space-between;
  height: 530px;
  margin-bottom: 35px;
}
.guide .card {
  width: 400px;
  height: 100%;
  background: var(--jaune);
  position: relative;
}
.guide .picture {
  height: 230px;
  width: 100%;
}
.guide img {
  width: 100%;
  height: 100%;
}
.guide .infos {
  padding: 40px 24px;
  text-align: center;
  font-size: 18px;
  line-height: 21.6px;
  color: var(--noirClair);
  font-family: Georgia;
}
.guide .infos h4 {
  margin: 25px 0;
  color: var(--black);
  font-family: "Trip Sans Med";
}
.guide .infos > p:last-child {
  font-size: 16px;
}
.infos span {
  font-family: "Trip Sans Reg";
  color: var(--noirClair);
  font-size: 16px;
  line-height: 20px;
}
.guide i {
  margin: 25px 0;
  color: var(--pink);
}
.point {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-image: url("../img/topito-com.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.guide .card:nth-child(2) .point {
  background-image: url("../img/eatwith.jpg");
}

/* FORUM */
.pictureForum {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.forum {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.forum > div {
  background-color: var(--jaune);
  width: 420px;
  color: var(--black);
  height: 135px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 20px;
  padding: 0 20px;
}
.forum .comments {
  display: flex;
  align-items: center;
}
.forum > div img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.forum h4 {
  margin-top: 10px;
}
/* FOOTER */
footer {
  background-color: var(--jaune);
}
footer > .container {
  display: flex;
  align-content: center;
  height: 155px;
}
footer img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
footer .col-1 {
  color: var(--noirClair);
  width: calc(100% / 3 * 2);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .col-1 > div {
  display: flex;
  margin-left: 20px;
  padding-right: 70px;
}
.copyrigth {
  font-family: "Trip Sans Reg";
  font-size: 12px;
  line-height: 14.4px;
}
.copyrigth a {
  font-family: "Trip Sans Med";
  font-size: 16px;
  line-height: 19.2px;
  text-decoration: none;
  text-decoration: underline;
  color: var(--black);
  margin-right: 10px;
}
.copyrigth p {
  margin-bottom: 10px;
}
.copyrigth a:hover {
  color: var(--noirClair);
}
footer .col-1 > div:nth-child(2) p {
  font-size: 12px;
  line-height: 14.4px;
  font-family: "Trip Sans Reg";
  margin-top: 10px;
}
footer .col-1 > div:nth-child(2) a {
  text-decoration: none;
  font-family: "Trip Sans Med";
  color: var(--black);
}

footer .col-2 {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .col-2 button {
  width: 200px;
  height: 30px;
  color: var(--noirClair);
  border: 2px solid var(--grisClair);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
}
footer .col-2 i {
  margin-bottom: 5px;
}

.block-xs {
  display: none;
}
/* MEDIA QUERIES  */
/* 1328px */
@media (max-width: 1328px) {
  .navigation {
    flex-wrap: wrap;
  }
  .navigation .hidden-xl {
    display: inherit;
  }
  .navigation div {
    width: calc(100% / 4 - (8px));
    flex: none;
    padding: 15px;
    background: blue;
    margin: 10px 0;
  }
  .navigation div:nth-child(4) {
    margin: 10px 0;
  }
  .navigation div:not(:last-child) {
    margin: 10px 0;
  }
  .description .col-2 div:first-child {
    height: 284px;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .link button a {
    display: none;
  }
  .pictures {
    height: 280px;
  }
  .pictures .box2 {
    width: 320px;
  }
  /* description */
  .description {
    flex-direction: column;
  }
  .description .col-1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .description .col-2 {
    margin-left: 0;
    width: 100%;
    height: 280px;
    flex-direction: row;
  }
  .description .col-2 > div:last-child {
    height: 280px;
    width: 50%;
    border-radius: 0 20px 20px 0;
  }
  .description .col-2 > div:first-child {
    height: 280px;
    width: 50%;
    border-radius: 20px 0 0 20px;
  }
}

/* 768px */
@media (max-width: 768px) {
  /* header */
  nav .right {
    display: none;
  }
  header .search,
  header .right {
    display: none;
  }
  header .left {
    width: 100%;
    justify-content: space-between;
  }
  .block-xs {
    display: block;
  }

  /* pictures */
  .pictures .box2 {
    display: none;
  }
  .pictures {
    margin: 0 -20px;
  }
  .pictures .box1 img {
    border-radius: 0;
  }

  /* description - map */
  .description {
    flex-direction: column;
  }
  .description .col-1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .description .col-2 {
    margin-left: 0;
    width: 100%;
  }
}

/* MODAL */
#modal {
  background-color: rgb(51, 51, 51, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  position: absolute;
  align-items: center;
  justify-items: center;
}
#modal > div {
  /* display: flex; */
  margin: 0 auto;
  /* align-items: center;
  justify-content: space-evenly; */
  background: var(--pink);
  min-width: 25vw;
  max-width: 45vw;
  max-height: 80vh;
  border-radius: 20px;
  padding: 50px;
  flex-direction: column;
}
#modal i {
  float: right;
  cursor: pointer;
}
#modal i:hover {
  color: var(--noirClair);
}
#modal h4 {
  color: var(--jaune);
  margin-bottom: 20px;
}
#modal form {
  display: flex;
  flex-direction: column;
}
#modal form input,
#modal form button,
#modal form textarea {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#modal input::placeholder,
#modal form textarea {
  font-family: "Trip Sans Reg";
  color: var(--noirClair);
}
#modal button {
  background: var(--green);
  color: var(--jaune);
}
